*{
    box-sizing: 0;
    margin: 0;

}
body{
    background-color: #01010a;
    color: #239b0b;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 150px;
}
nav{
    display: flex;
    gap: 40px;
    margin-right: 100px;
}
a{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 2px 10px;
}
a:hover{
    background-color: #a5b4a410;
    transform: scale(1.1);
    transition: 0.2s;
}
#mainContainer{
    display: grid;
    grid-template-areas: 
        "sectionTitulo sectionTitulo sectionTitulo"
        "sectionMain sectionMain sectionLateral";
}
#sectionTitulo{
    grid-area: sectionTitulo;
}
#sectionMain{
    grid-area: sectionMain;
    background-color: #ffffff;
}
#sectionLateral{
    grid-area: sectionLateral;
    height: auto;
}
section{
    border: 2px solid #239b0b;
}
h1{
    text-align: center;
    color: #ffffff; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2rem 0rem;
}
#textYoutube{
    color: #9b1111;
}
h3{
    text-align: center;
    color: #239b0b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 3rem;
}
#imagem{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
}
img{
    border-radius: 7px;
    background-color: #01010a;
}
#listaCursos{
    padding: 2rem;
    width: 150vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 3rem;
}
.curso{
    color: #ffffff;
    background-color: #01010a;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    border: 3px solid #239b0b;
    width: 20%;
    border-radius: 8px;
    padding: 10px;
    list-style-type: none;
}
footer{
    text-align: center;
    height: 60px;
    color: azure;
}